#mainC{
    margin:auto ;
    width: 37%;
    /* border: 1px solid black; */
    margin-top: 90px;
    line-height: 75px;
    height: 600px;
   

}
#mainC>div{
    /* margin:; */
    text-align: center;
    /* justify-content: center; */
}


#send{

height: 44px;
padding: 10px 40px;
color: #ffffff;
font-size: 13px;
/* background-color: #202124; */
border: none;
outline: none;
border-radius: 200px;
cursor: pointer;
}
#oneC{    

display: block;
color: #494949;
font-style: normal;
font-weight: 500;
font-size: 14px;

font-family: 'National2-Medium';
}  
#threeC{

font-family: 'National2CondensedWeb-Medium';
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.5px;
text-transform: uppercase;
color: #202124;

}
#fourC{
margin-top: 20px;
text-align: left;
width: 94%;
border: none;
/* border-bottom: 1px solid #202124; */
outline: none;
font-family: 'National 2 Regular';
font-style: normal;
font-weight: normal;
font-size: 14px;

line-height: 24px;
letter-spacing: -0.1px;
color: #202124;
padding-bottom: 0.7%;
position: relative;
}
#fiveC{
margin-top: 20px;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 40px;
color: #202124;
margin-bottom: 10px;
}
#sixC{
margin-top: 20px;
display: flex;
border: none;
align-items: center;
justify-content: center;
}
#sixC input{
/* border: no; */
width:40px ;
margin-left: 4px;
border: 0px solid transparent;
border-bottom: 2px solid black;
outline: 0;
text-align: center;
font-size: 20px;
font-weight: bolder;
}

#sevenC{
/* margin-bottom: 30px; */
display: flex;
text-align: center;
justify-content: center;
align-items: center;

}

#nineC>a>button{
margin-bottom: 80px;
padding: 9px 30px;
border-radius: 20px;
border: none;
background-color:rgb(207, 205, 205) ;
}